<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="toblindr.student.chalmers.se.thealchemist">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ekolv"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ekolv_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".AlchemistActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BackgroundMusicService"/>
    </application>

</manifest>